/* Reset default box sizing for all elements and their pseudo elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set height, margin, and padding to 0 for html, body, wrapper elements */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Set font family and backgroud color for body element */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/* Add padding to wrapper element */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Center align text and add padding for header element */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* Style for card element */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/* Add horizontal line after card header */
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Set minimum height for card body element */
.card-body {
  min-height: 100px;
}

/* Style for card footer element */
.card-footer {
  text-align: center;
}

/* Add horizontal line before card footer */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Add clearfix after card footer */
.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* Style for button element */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* Style for disabled button */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* Float element to right */
.float-right {
  float: right;
}

/* Style for password input element */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Media query for screens with a maximum width of 690pm */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem; /* Font size of 1rem for .btn */
    margin: 16px 0px 0px 0px; /* Margin of 16px on top for .btn */
    padding: 10px 15px; /* Padding of 10px on top and bottom, and 15px on left and right for .btn */
  }

  #password {
    font-size: 1rem; /* Font size of 1rem for password */
  }
}

/* Media query for screens with a maximum width of 500px */
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem; /* Font size of 0.8rem for .btn */
  }
}
